* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(ladder.png);
  background-position: center/cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
}
p {
  color: #edf93c;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.6rem;
  text-shadow: 0 2px 2px black;
  font-weight: 500;
  position: absolute;
  transform: rotate(75deg);
  animation: climb 5s infinite;
}
@keyframes climb {
  0% {
    top: 18vh;
    left: 120vh;
  }

  100% {
    top: 88vh;
    left: 142vh;
  }
}
@media screen and (max-width: 800px) {
  body {
    height: 100vh;
    background-image: url(ladder.png);
    background-position: 80% 50%;
    background-repeat: no-repeat;
  }
  @keyframes climb {
    0% {
      top: 18vh;
      left: 5vh;
    }

    100% {
      top: 88vh;
      left: 24vh;
    }
  }
}
