* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  position: relative;
}
.container {
  position: absolute;
  top: 0vh;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-image: url(office.png);
  background-position: center/cover !important;
  background-repeat: repeat;
  z-index: 1;
}
.intro {
  color: white;
  position: absolute;
  background-color: black;
  top: 90vh;
  left: 0%;
  width: 100vw;
  height: 10vh;
  z-index: 10;
}
h1 {
  text-align: center;
}
.choice {
  color: #be906e;
}
@media screen and (max-width: 800px) {
  .intro {
    padding: 25px;
    font-size: 0.75rem;
  }
}
